<!-- pin card detail modals-->
<!-- details modal 1 -->
<div class='cards'>
    {% for card in cardList %}
    {% include 'landing_map/detailModal.html' %}
    {% include 'landing_map/reportModal.html' %}

    <!-- Pin cards -->
    <div class="well well-lg" >
        <h4>{{card.text}}</h4>
        {% if card.ramp_count != 0 %}
            <p class="accessible">{{card.ramp_count}} accessible ramps</p>
        {% else %}
            <p class="not_accessible">0 accessible ramps</p>
        {% endif %}
        {% if card.signal_count != 0 %}
            <p class="accessible">{{card.signal_count}} accessible signals</p>
        {% else %}
            <p class="not_accessible">0 accessible signals</p>
        {% endif %}

        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#pin_{{card.card_id}}_details">
            view issue
        </button>
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#report_issue_form">
            report issue
        </button>
        
    </div>
    {% endfor %}
</div>