<!-- pin card detail modals-->
<!-- details modal 1 -->
<div class='cards'>
    {% for card in cardList %}
    {% include 'landing_map/detailModal.html' %}
    {% include 'landing_map/reportModal.html' %}

    <!-- Pin cards -->
    <div class="well well-lg" id = {{card.card_id}} onclick = "zoom_map({{card.card_id}})">
        <h4>{{card.text}}</h4>
        {% if card.type == "Ramp" %}
            {% if card.isAccessible %}
                <p class="accessible">Accessible ramp</p>
            {% else %}
                <p class="not_accessible">Inaccessible ramp</p>
            {% endif %}
        {% elif card.type == "Signal" %}
            {% if card.isAccessible %}
                <p class="accessible">Accessible Signal</p>
            {% else %}
                <p class="not_accessible">Inaccessible Signal</p>
            {% endif %}
        {% elif card.type == "Raised_Crosswalk" %}
            {% if card.isAccessible %}
                <p class="accessible">Accessible Raised Crosswalk</p>
            {% else %}
                <p class="not_accessible">Inaccessible Raised Crosswalk</p>
            {% endif %}
        {% endif %}
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#pin_{{card.card_id}}_details"
        style=" background-color:#884515; color:white">
            view issue
        </button>

        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#report_issue_form"
                style=" background-color:#18435A; color:white">
            report issue
        </button>

    </div>
    {% endfor %}
</div>