<div id="pin_{{card.card_id}}_details" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{card.text}}</h4>
            </div>
            <div class="modal-body">
                {% if card.ramp_count != 0 %}
                    <p class="accessible">{{card.ramp_count}} accessible ramps</p>
                {% else %}
                    <p class="not_accessible">0 accessible ramps</p>
                {% endif %}
                {% if card.signal_count != 0 %}
                    <p class="accessible">{{card.signal_count}} accessible signals</p>
                {% else %}
                    <p class="not_accessible">0 accessible signals</p>
                {% endif %}
                {% if card.isRampAccess == False and card.ramp_count != 0 %}
                    <p class="not_accessible">User reported ramps not working at this intersection</p>
                {% else %}
                    {% if card.ramp_count != 0 %}
                        <p class="accessible">All ramps are working at this intersection</p>
                    {% endif %}
                {% endif %}
                {% if card.isSignalAccess == False and card.signal_count != 0 %}
                    <p class="not_accessible">User reported signals not working at this intersection</p>
                {% else %}
                    {% if card.signal_count != 0 %}
                        <p class="accessible">All signals are working at this intersection</p>
                    {% endif %}
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>