{% load static %}
<div id="pin_{{card.card_id}}_details" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">

            <!-- modal header content -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{card.text}}</h4>
            </div>

            <!-- modal body content -->
            <div class="modal-body row">
                <div class="col-md-6">
                    <div id="map_report_{{card.card_id}}" style=" width:280px; height:280px"></div>
                </div>
                
                <div class="col-md-6 ml-auto view-report" style='height:300px; overflow-y: scroll'>
                    <h5>issue: </h5>
                    <p class="not_accessible">Inaccessible {{card.type}}</p>

                    <h5>time reported: </h5>
                    <p>{{card.time_reported}}</p>

                    <h5>Updates: </h5>

                    <!-- all updates -->
                    {% for username, comment, updatedAt in card.comment %}

                    <!-- all updates -->
                    <div style="background-color:#ECECEC; border-radius: 5px; margin-bottom: 5px; overflow-wrap: break-word;">
                        <div style="padding: 10px;">
                            <p style="font-size:smaller; margin-bottom: 1px;"> 
                                <b style="color:#18435A;">{{comment}} </b>{{updatedAt}}</p>
                            <p style="margin-bottom: 0px;">{{username}}</p>
                        </div>
                    </div>

                    {% endfor %}

                </div>  
                
            </div>
            <div class="modal-footer">

                <!-- resolve report -->
                <form action = "{% url 'resolve_report' %}" method = "POST" class="verify">
                    {% csrf_token %}
                    <input type = "hidden" name = x_coord value = '{{x_coord}}'>
                    <input type = "hidden" name = y_coord value = '{{y_coord}}'>
                    <input type = "hidden" name = infraID value = '{{card.card_id}}'>
                    <button type="submit" class="btn btn-default" style="background-color:#4F7C5E; color:white; margin-left: 5px;">
                        Mark as restored</button>
                </form>

                <!-- post update -->
                <form class="form-inline" action = "{% url 'report_update' %}" method = "POST">
                    {% csrf_token %}
                    <div class="form-group mx-sm-3 mb-2">
                      <input type = "hidden" name = infraID value = '{{card.card_id}}'>
                      <input type = "hidden" name = x_coord value = '{{x_coord}}'>
                      <input type = "hidden" name = y_coord value = '{{y_coord}}'>
                      <input type = "comment" name = "comment" class="form-control" id="message-text" style="width:210px" 
                        placeholder="Add an update" required="required" maxlength="200">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2" style="background-color:#18435A; color:white;">
                        Post</button>
                </form>
            </div>
        </div>
    </div>
</div>