            <div class="filter">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle shadow-none" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-filter"></span>
                        filter
                    </button>

                <div class="dropdown-menu">

                    <div class="form-check form-switch">
                        <label class="form-check-label" id="fav" for="flexCheckDefault">
                            Favorites only
                        </label>
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    </div>


                    <!-- infrastructure displayed -->
                    <p class="dropdown-item">displayed info</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            accessible ramps
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            accessible pedestrian signals
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            raised sidewalks
                        </label>
                    </div>

                    <!-- status of infrastructure -->
                    <p class="dropdown-item">status</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            currently accessible
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            currently inaccessible
                        </label>
                    </div>

                    <button class="dropdown-item btn btn-light shadow-none" id="clear" type="button">Clear</button>
                    <button class="dropdown-item btn btn-primary shadow-none" type="button">Apply Filter</button>
                </div>
            </div>
        </div>