{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>NYC Accessible Streets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'landing_map/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
</head>

<body>
<!-- Load the `mapbox-gl-geocoder` plugin. -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">

<!-- navigation bar -->
{% include 'common/navbar.html' %}

    <div class="ctain">
        <img src="/static/img/crosswalk.png" style="margin-top: -20px;"  width="100%">

        <div class="centered"><h1 style='font-size:200%; text-shadow: 2px 2px 4px #222222;'>
            Find your next accessible destination.</h1>
            <div id="geocoder-home-page" class="geocoder"></div>
        </div>
    </div>

    <div class="reports container-fluid">
        <h3 style="padding-top: 10px; padding-bottom: 10px;" >&nbsp;&nbsp;recent reports</h3>
        
        <div class="row" style="margin: 3px;">
            <!-- one card -->
            {% for report in recent_report_list %}
            <div class="col-md-4">
                <div class="well well-lg">
                    <img src="/static/img/dummy_report.png" alt="dummy report image of map" 
                        style="padding-bottom:15px; width:100%; height:auto;">

                    <h4>{{report.address}}</h4>
                    
                    <div class="row">
                        <div class='col-md-4'>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#pin_{{card.card_id}}_details"
                            style=" background-color:#884515; color:white; padding-left:15px; padding-right:15px;">
                                Inaccessible {{report.infraType}}
                            </button>

                            {% include 'landing_map/report_detail.html' %}
                        </div>
            
                        <div class='col-md-6' style="float: right; text-align: right; margin-top: 8px;">
                            <p><span class="glyphicon glyphicon-calendar"></span> {{report.createdAt}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

        
    </div>

    {% include 'common/copyright.html' %}

<script type="text/javascript">
    mapboxgl.accessToken = '{{mapboxAccessToken}}';
</script>

<script src="{% static 'landing_map/geocoderHomepage.js' %} "></script>

</body>
</html>