{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>NYC Accessible Streets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'landing_map/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
</head>

<body>

<!-- navigation bar -->
{% include 'common/navbar.html' %}

    <div class="ctain">
        <img src="/static/img/crosswalk.png" style="margin-top: -20px;"  width="100%">

        <div class="centered"><h1 style='font-size:200%; text-shadow: 2px 2px 4px #222222;'>
            Find your next accessible destination.</h1>

        <button onclick="location.href = '/home';" class="btn btn-lg" type="submit" 
            style="color: #222222; width: 450px; text-align: left;">
            Search</button>
        </div>
    </div>

    <div class="reports container-fluid">
        {% include 'landing_map/detailModal.html' %}
        <h3 style="padding: 10px;" >&nbsp;&nbsp;recent reports</h3>

        <div class="well well-lg col-md-4 row" style="margin: 15px;">
            <img src="/static/img/dummy_report.png" alt="dummy report image of map" 
                style="padding-bottom:15px; width:100%; height:auto;">

            <h4>5 Metrotech Center, Brooklyn, NY 11201</h4>
            
            <div class="row">
                <div class='col-md-4'>
                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#pin_{{card.card_id}}_details"
                    style=" background-color:#884515; color:white; padding-left:15px; padding-right:15px;">
                        Inaccessible Ramp
                    </button>
                </div>
    
                <div class='col-md-6' style="float: right; text-align: right; margin-top: 5px;">
                    <p><span class="glyphicon glyphicon-calendar"></span> 7:20AM Oct 20th</p>
                </div>
            </div>
        </div>

    </div>

</body>
</html>