{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Favorites</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'landing_map/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <!-- Mapbox CDN-->
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
    <script type="text/javascript">
        mapboxgl.accessToken = '{{mapboxAccessToken}}';
    </script>

    <style>
        h3{
            padding-top: 10px; 
            padding-bottom: 10px;
        }

        button{
            float: right; 
            background-color:#18435A !important; 
            color:white !important; 
            margin-top: 15px;
            padding-left:15px; 
            padding-right:15px;
        }

        img{
            padding-bottom:15px; 
            width:100%; 
            height:auto;
        }

        form{
            margin-bottom: 20px;
            width: 80% !important;
        }
        .navbar{
            position: fixed;
            top: 0px;
            width: 100%;
            z-index: 10000;
        }

    </style>
</head>

<body>

<!-- navigation bar -->
{% include 'common/navbar.html' %}

<div class="reports container-fluid" style="margin-top: 7%">
    <h3>&nbsp;&nbsp;My Favorites</h3>
    
    <div class="row" style="margin: 3px;">
        {% for card in favorite_card_list %}
        <div class="col-md-4">
            <div class="well well-lg">
                <div id="map_{{card.id}}" style="height: 250px;"></div>
                <script>

                    new mapboxgl.Marker()
                    .setLngLat(['{{card.x}}','{{card.y}}'])
                    .addTo(new mapboxgl.Map({
                        container: 'map_{{card.id}}',
                        style: 'mapbox://styles/mapbox/streets-v11',
                        center: ['{{card.x}}','{{card.y}}'],
                        zoom: 15,
                        marker: true
                    }));
                </script>

                <h4>{{card.address}}</h4>
                
                <div class="row">
                    <div class='col-md-12' style="float: left; text-align: left; margin-top: 8px;">
                        <p class="not_accessible" style="margin-bottom: 2px;"> {{card.alert}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class='col-md-5' style="float: left; text-align: left; margin-top: 8px;">
                        {% if card.count_signals == 0 %}
                            <p class="accessible" style="margin-bottom: 2px;"> {{card.count_signals}} reported signal(s)</p>
                        {% else %}
                            <p class="not_accessible" style="margin-bottom: 2px;"> {{card.count_signals}} reported signal(s)</p>
                        {% endif %}
                        {% if card.count_ramps == 0 %}
                            <p class="accessible"> {{card.count_ramps}} reported ramp(s)</p>
                        {% else %}
                            <p class="not_accessible"> {{card.count_ramps}} reported ramp(s)</p>
                        {% endif %}
                    </div>

                    <div class='col-md-3'>
                            <form action = "{% url 'goto_favorite' %}" method = "POST" >
                                {% csrf_token %}
                                <input type = "hidden" name = y value = '{{card.y}}'>
                                <input type = "hidden" name = x value = '{{card.x}}'>
                                <button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon-eye-open"></span>
                                    View</button>
                            </form>
                    </div>


                    <div class='col-md-4'>
                            <form action = "{% url 'remove_favorite' %}" method = "POST" >
                                {% csrf_token %}
                                <input type = "hidden" name = y value = '{{card.y}}'>
                                <input type = "hidden" name = x value = '{{card.x}}'>
                                <input type = "hidden" name = address value = '{{card.address}}'>
                                <button type="submit" class="btn btn-danger deleteButton" ><span class="glyphicon glyphicon-trash"></span>
                                    Remove</button>
                            </form>

                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    
</div>

{% include 'common/copyright.html' %}

</body>
</html>