{% load static %}
<div id="pin_{{report.infraID}}_details" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">

            <!-- modal header content -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{report.address}}</h4>
            </div>

            <!-- modal body content -->
            <div class="modal-body row">
                <div class="col-md-6">
                    <div id="map_{{report.infraID}}" style="width:280px; height:280px"></div>
                </div>
                
                <div class="col-md-6 ml-auto view-report" style='height:300px; overflow-y: scroll'>
                    <h5>Issue: </h5>
                    <p class="not_accessible">Inaccessible {{report.infraType}}</p>

                    <h5>Updates: </h5>

                    {% for username, comment, updatedAt in report.desc %}

                    <!-- all updates -->
                    <div style="background-color:#ECECEC; border-radius: 5px; margin-bottom: 5px; overflow-wrap: break-word;">
                        <div style="padding: 10px;">
                            <p style="font-size:smaller; margin-bottom: 1px;"> 
                                <b style="color:#18435A;">{{comment}} </b>{{updatedAt}}</p>
                            <p style="margin-bottom: 0px;">{{username}}</p>
                        </div>
                    </div>

                    {% endfor %}

                </div>  
            </div>
        </div>
    </div>
</div>


