<div class="modal fade" id="report_issue_form_{{card.card_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Report issue for {{card.text}}</h4>
        </div>

        <div class="modal-body">
          <form action = "{% url 'report' %}" method = "POST" >
            {% csrf_token %}
            <div class="form-group">
              <label for="message-text" class="col-form-label">Description:</label>
              <input type = "hidden" name = infraID value = '{{card.card_id}}'>
           <textarea name = "comment" class="form-control" id="message-text" style="height: 180px;"></textarea>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" style=" background-color:#18435A; color:white;">
                  Submit Report</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>