<!-- templates/home.html -->
<div class='center'>
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>NYC Accessible Streets</h1>
{% if user.is_authenticated %}
  <h2>Hello {{ user.username }}, here are your favorite locations:</h2>
  <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <h2>Log in to see your personalized page</h2>
  <p><a href="{% url 'login' %}">Log In</a></p>
  <p><a href="{% url 'signup' %}">Create Account</a></p>
  <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
{% endif %}
{% endblock %}
</div>
