<div class='center'>
{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<div class='template'>
  <br>
{% if user.is_authenticated %}
  <h1>Password Reset</h1>
{% else %}
  <h1>Forgot Your Password?</h1>
{% endif %}
<br>
</div>
  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send Link">
  </form>
{% endblock %}
</div>
