    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Sign up</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
      <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
    </head>
    
    <body class="container-fluid">
        <div class="row">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="signup d-flex align-items-center px-md-3 px-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-10 mx-auto">
                                <body>
                                    <h3>Password reset sent</h3>

                                    <p>We've emailed you instructions to reset your password. </p>
                                    <p>If an account exists with the email you
                                        entered, you should receive them shortly.</p>

                                    <p>If you don't receive an email, please make sure you've entered the address you registered with,
                                        and check your spam folder.</p>
                                </body>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    
    </body>
    </html>