.bg-image {
    background-image: url('/static/img/wheelchair-road.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

p{
    margin-bottom: 5px;
}

h6{
    margin-bottom: 40px;
    font-weight:300;
}

.btn{
    margin-top:15px;
    margin-bottom:15px;
    min-width: 100%;
    background-color: #18435A;
    color: white;
}

.input-group{
    margin-top:17px;
    margin-bottom:17px;
    margin-right: 5px;
}

.login{
    margin-top: 33%;
}

.signup{
    margin-top: 25px;
    margin-bottom: 25px;
}
