<style>
    .nofade{
        opacity: 1 !important;
    }
    .right-margin{
        margin-right: 10px;
    }
    .navbar{
        border-radius: 0;
    }
    </style>
</style>
<nav class="navbar navbar-inverse noborder">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="nav-brand" href="/">NYC Accessible Streets</a>
            {% if '/home/' not in request.path and '/lowvision/' not in request.path %}
               <a class="nav-list" href = "/home"><span class="glyphicon glyphicon-globe"></span> Map</a>
            {% endif %}
            {% if '/home/' in request.path %}
                <a class="nav-list" style="cursor:pointer" href = "#" onclick="goto_lowVisionPage()"><span class="glyphicon glyphicon-eye-close"></span> Low Vision View</a>
            {% endif %}
            {% if '/lowvision/' in request.path %}
                <a class="nav-list" style="cursor:pointer" href = "#" onclick="goto_mapsPage()" ><span class="glyphicon glyphicon-map-marker"></span> Map View</a>
            {% endif %}


        </div>
        {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
            <li><a class = "nav-list" href="/accounts/profile">My Profile</a></li>
            <li><a class = "nav-list" href="/myFav"><span class="glyphicon glyphicon-heart"></span> My Favorites</a></li>
            <li><a class = "nav-list" href="/accounts/help"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
            <li><a class = "nav-list right-margin" href="/accounts/logout"><span class="glyphicon glyphicon-arrow-left"></span> Log Out</a></li>
        </ul>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a class = "nav-list" href="/accounts/help"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
            <li><a class = "nav-list" href="/accounts/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a class = "nav-list right-margin" href="/accounts/login"><span class="glyphicon glyphicon-arrow-right"></span> Login</a></li>
        </ul>
        {% endif %}
    </div>
</nav>
