{% if user.is_authenticated %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="nav-brand" href="/">NYC Accessible Streets</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a class = "nav-list" href="#">Help</a></li>
            <li><a class = "nav-list" href="accounts/logout"> Log Out</a></li>
        </ul>
    </div>
</nav>
{% else %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="nav-brand" href="/">NYC Accessible Streets</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a class = "nav-list" href="#">Help</a></li>
            <li><a class = "nav-list" href="accounts/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a class = "nav-list" href="accounts/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>
{% endif%}