/* navbar styling */
nav.navbar{
    background-color:#18435A;
    padding-left: 0;
    padding-right: 0;
}

a.nav-brand {
    color: #FFFFFF !important;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none !important;
    height: 75px;
    line-height: 75px;
}

a.nav-list{
    color: #FFFFFF !important;
    font-size:1em;
    text-decoration: none;
    height: 75px !important;
    line-height: 40px !important;
    padding-left: 30px !important;
}

a.nav-brand:hover{
    opacity: 0.5;
}

a.nav-list:hover{
    opacity: 0.5;
}

.padding{
    text-align: left;
    padding-left: 30px;
    padding-right: 25%;
}

.ctain {
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 35%;
    left: 52% !important;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.noborder{
        border-color: transparent !important;
    }

/* pin card styling */
div.cards{
    height:500px;
    overflow-y: scroll
}
p.accessible{
    color:#4F7C5E;}
p.not_accessible{
    color:#BC4F00;}
#map {
    height: 550px;
}


/* add to favorite */
.add{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    float:right !important;
}

.add button{
    width: 200px;
    background-color: #FFFFFF;
    color: #18435A;
}


/* filter button styling */
.filter{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.filter p{
    font-weight: bold;
    margin-right: auto;
    margin-top: 10px;
}

.filter button{
    margin-left: auto;
    width: 100px;
    background-color: #18435A;
}

/* dropdown menu */
.dropdown-menu{
    padding: 20px;
    width: 300px;
}

.dropdown-menu button{
    margin-top: 20px;
    width: 125px;
    background-color: #18435A;
}

.dropdown-menu #clear{
    background-color: transparent;
    color: #18435A;
    font-weight: bold;
}

.dropdown-menu .form-check label{
    font-weight: 400;
}

.dropdown-menu .form-check #fav{
    font-weight: bold;
    /* margin-right: 100px; */
}


/* results */
.results {
    float: right !important;
    padding-top: 15px !important;
}


/* geo coder */
.mapboxgl-ctrl-geocoder {
    width: 100% !important;
    max-width: 100% !important;
}


/* copyright */
.copyright {
    background-color: rgba(0, 0, 0, 0.05);
    margin-top: 20px;
}

/* reports */
.view-report p{
    margin-bottom: 15px;
}

.view-report h5{
    font-weight: bold;
    margin-bottom: 5px;
}

.modal-dialog {
  top: 10vh;
  right: 5vw;
}

.modal-footer .verify{
    float: left;
}

.well{
    scroll-behavior: smooth;
}

.table-header{
    position: sticky;
    top: 0 !important;
    color: white;
    background-color: #18435A;
}

div.table-lowvision{
    height:550px;
    overflow-y: scroll
}

.highlight-card{
    border: 3px solid red !important;
    border-radius: 7px !important;
}

.suggestions-wrapper{
    text-align: left;
}

.deleteButton{
    background-color: #d9534f !important;
}

.shareButton {
    cursor:pointer;
    padding: 8px;
    font-size: 20px;
}

.shareButton .sharetooltiptext {
  font-size: 12px;
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 4px;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: -10%;
  margin-left: 135px;
  opacity: 0;
  transition: opacity 0.3s;
}

.shareButton .sharetooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
}

.shareButton:hover .sharetooltiptext {
  visibility: visible;
  opacity: 1;
}

.copyButton {
  cursor:pointer;
  padding: 8px;
  padding-right:0px;
  font-size: 20px;
}

.copyButton .copytooltiptext {
  font-size: 10px;
  width: 80px;
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 3px;
  position: absolute;
  z-index: 1;
  bottom: 80%;
  margin-left: -30px;
  opacity: 0;
  transition: opacity 0.3s;
}

.copyButton:hover .copytooltiptext {
  visibility: visible;
  opacity: 1;
}

textarea {
    resize: none;
}

#count_message {
  background-color: smoke;
  margin-top: -20px;
  margin-right: 5px;
}