
/* navbar styling */
nav.navbar{
    background-color:#18435A;
    }
a.nav-brand {
    color: #FFFFFF;
    font-size:2em;
}

a.nav-list{
    color: #FFFFFF !important;
    font-size:1.2em;
}
/*
body{
    overflow: hidden;
    }
*/
/* pin card styling */
div.cards{
    height:500px;
    overflow-y: scroll
}
p.accessible{
    color:#4F7C5E;}
p.not_accessible{
    color:#BC4F00;}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 98%;
    height: 550px; }

/* filter button styling */
.filter{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.filter p{
    font-weight: bold;
    margin-right: auto;
    margin-top: 10px;
}

.filter button{
    margin-left: auto;
    width: 100px;
    background-color: #18435A;
}

/* dropdown menu */
.dropdown-menu{
    padding: 20px;
    width: 300px;
}

.dropdown-menu button{
    margin-top: 20px;
    width: 125px;
    background-color: #18435A;
}

.dropdown-menu #clear{
    background-color: transparent;
    color: #18435A;
    font-weight: bold;
}

.dropdown-menu .form-check label{
    font-weight: 400;
}

.dropdown-menu .form-check #fav{
    font-weight: bold;
    /* margin-right: 100px; */
}
